.container {
    padding: 20px;
  }
  
  .form {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5%;
    justify-content: center!important;
    align-items: center!important;
    text-align: center;
    background-color: #c2d9f1;
    box-shadow: 0 15px 14px rgba(0, 0, 0, 0.1);
  }
  
  .formGroup {
    margin-bottom: 15px;
    justify-content: center!important;
    align-items: center!important;
  }
  
  .formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .formGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .updateButton {
    background-color: #011e3d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center!important;
    align-items: center!important;
    box-shadow: 0 15px 14px rgba(0, 0, 0, 0.1);
  }
  
  .updateButton:hover {
    background-color: #0056b3;
  }
  
  .h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #011e3d;
    color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 15px 14px rgba(0, 0, 0, 0.1);
  }